// LAYOUT
$navbar-height: 50px;
$lesson-width: 300px;
$lesson-actions-height: 60px;

// COLORS
$brand-default: #fff;
$brand-primary: #2196f3;
$brand-success: #388e3c;
$brand-info: #212121;

$navbar-background: #4caf50;
$lesson-background: #fff;
$lesson-actions-background: $brand-success;

// BUTTON STYLES
$btn-font-weight: bold;
