@import '../partials/variables';

.lesson {
  background-color: $lesson-background;
  bottom: 0;
  left: 0;
  padding: $component-spacing;
  position: fixed;
  top: $navbar-height;
  width: $lesson-width;

  h1 {
    margin-bottom: 20px;
  }

  code {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: $border-radius-small;
    font-family: $font-family-monospace;
    font-size: 0.85em;
    line-height: inherit;
    padding: 0.15em 0.25em;
  }
}

.instructions {
  $title-height: 16px;
  background-color: rgba($instructions-background, 0.3);
  border: 1px solid $instructions-background;
  margin-left: -$component-spacing;
  margin-right: -$component-spacing;
  // the multiplier here is extra space intentionally
  // being added to move the instructions away from
  // the rest of the lesson content
  margin-top: $title-height + $component-spacing * 3;
  padding: $component-spacing;

  .instructionsTitle {
    background-color: $lesson-background;
    border: 1px solid $instructions-background;
    font-size: $title-height;
    margin-left: auto;
    margin-right: auto;
    margin-top: -($title-height / 2 + $component-spacing * 2);
    padding: $component-spacing / 2;
    text-align: center;
    width: 120px;
  }
}
