@import '../partials/variables';

.lessonActions {
  background-color: $lesson-actions-background;
  bottom: 0;
  height: $lesson-actions-height;
  left: $lesson-width;
  padding: 15px;
  position: fixed;
  right: 0;
}
