@import '../partials/variables';

.lessonActionBar {
  background-color: $lesson-actions-background;
  bottom: 0;
  height: $lesson-actions-height;
  left: $lesson-width;
  padding-left: $component-spacing;
  padding-right: $component-spacing;
  padding-top: 15px;
  position: fixed;
  right: 0;
}
