@import '../partials/variables';

.navbar {
  background-color: $navbar-background;
  box-shadow: 0 0 1px #212121;
  height: $navbar-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

.logo {
  $height: 40px;
  background-image: url('../../assets/logo.svg');
  background-size: contain;
  display: block;
  height: $height;
  margin-left: auto;
  margin-right: auto;
  margin-top: ($navbar-height - $height) / 2;
  width: 204px;
}
